<a href="https://colab.research.google.com/github/KarlaKsanova/P-programaci-n/blob/main/practica_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Ejercicio 1

#Programa que solicite los datos de 5 autos:

#- Marca, precio, color, modelo, origen
#- El programa al final debe mostrar:
#- ¿Cuántos autos son europeos?
#- ¿Cuántos valen menos de 300,000?
#- ¿Cuántos fueron modelo 2024?
#- ¿Cuántos fueron de color rojo?
#- El promedio de precios de todos los autos
#- El promedio de precios de los autos europeos
N = 5

autos = []
for i in range(1,N+1):
  print('\nDatos de auto', i, '+++++++++')
  marca = input('Marca: ')
  precio = float(input('Precio: '))
  color = input('Color: ')
  modelo = input('Modelo: ')
  origen = input('Origen: ')
  autos.append({
      'marca': marca,
      'precio': precio,
      'color': color,
      'modelo': modelo,
      'origen': origen
  })

print(autos)

Datos de auto 1 +++++++++
Marca: m1
Precio: 3000
Color: morado
Modelo: 2024
Origen: chino

Datos de auto 2 +++++++++
Marca: m2
Precio: 40000
Color: azul
Modelo: 2010
Origen: aleman

Datos de auto 3 +++++++++
Marca: m3
Precio: 6000000
Color: negro
Modelo: 2024
Origen: eua

Datos de auto 4 +++++++++
Marca: m4
Precio: 69000
Color: rosa
Modelo: 2300
Origen: mexico

Datos de auto 5 +++++++++
Marca: m5
Precio: 9000000
Color: dorado
Modelo: 2040
Origen: eua
[{'marca': 'm1', 'precio': 3000.0, 'color': 'morado', 'modelo': '2024', 'origen': 'chino'}, {'marca': 'm2', 'precio': 40000.0, 'color': 'azul', 'modelo': '2010', 'origen': 'aleman'}, {'marca': 'm3', 'precio': 6000000.0, 'color': 'negro', 'modelo': '2024', 'origen': 'eua'}, {'marca': 'm4', 'precio': 69000.0, 'color': 'rosa', 'modelo': '2300', 'origen': 'mexico'}, {'marca': 'm5', 'precio': 9000000.0, 'color': 'dorado', 'modelo': '2040', 'origen': 'eua'}]

In [7]:
europeos = 0
menos_de_300mil = 0
modelos2024 = 0
rojos = 0
promedio_precios = 0
promedio_europeos = 0

for i in range(len(autos)):
  europeos += 1 if autos[i]['origen'] == 'europeo' else 0
  menos_de_300mil += 1 if autos[i]['precio'] < 300000 else 0
  modelos2024 += 1 if autos[i]['modelo'] == '2024' else 0
  rojos += 1 if autos[i]['color'] == 'rojo' else 0
  promedio_precios += autos[i]['precio']
  promedio_europeos += autos[i]['precio'] if autos[i]['origen'] == 'europeo' else 0

promedio_precios /= len(autos)
if europeos > 0:
  promedio_europeos /= europeos
else:
  promedio_europeos = 0

print(f'{europeos} autos europeos')
print(f'{menos_de_300mil} autos valen menos de 300,000')
print(f'{modelos2024} autos son modelo 2024')
print(f'{rojos} autos son de color rojo')
print(f'Promedio de precios de todos los autos: {promedio_precios}')
print(f'Promedio de precios de autos europeos: {promedio_europeos}')

0 autos europeos
3 autos valen menos de 300,000
2 autos son modelo 2024
0 autos son de color rojo
Promedio de precios de todos los autos: 3022400.0
Promedio de precios de autos europeos: 0

In [8]:
# Ejercicio 2
#Se desea calcular el salario semanal de varios empleados bajo las siguientes condiciones: las primeras 40 horas las recibe con un pago nomnal de acuerdo a una tarifa por hora, previamente asignada. Las siguientes 9 horas de trabajo adicional a la jornada normal se pagan dobles y las excedentes de 49 horas se pagan triples. Además, se requiere registrar el nombre del trabajador, la tarifa por hora y el número de horas trabajadas y que se muestre el pago que deberá hacerse a dicho empleado. Cada vez que se calcula el pago de un empleado, el usuario decidirá si desea realizar el cálculo para otro empleado o terminar el proceso.
#Al terminar el proceso debe mostrar el total a pagar del salario neto por todos los empleados calculados.
resp = 'S'
salario_neto_a_pagar = 0.0

while 'S' in resp.upper():
  nombre = input('Nombre del trabajador: ')
  tarifa = float(input('Tarifa por hora: '))
  horas = int(input('Número de horas trabajadas: '))
  if horas > 49:
    salario_neto = 3*tarifa*(horas-49) + 2*tarifa*9 + tarifa*40
  elif horas > 40:
    salario_neto = 2*tarifa*(horas-40) + tarifa*40
  else:
    salario_neto = tarifa*horas
  print(f'El pago de {nombre} es de {salario_neto}')
  salario_neto_a_pagar += salario_neto

  resp = input('¿Desea realizar el cálculo para otro empleado? (S/N): ')

print(f'El total a pagar del salario neto por todos los empleados calculados es de {salario_neto_a_pagar}')

Nombre del trabajador: Karla
Tarifa por hora: 90
Número de horas trabajadas: 7
El pago de Karla es de 630.0
¿Desea realizar el cálculo para otro empleado? (S/N): N
El total a pagar del salario neto por todos los empleados calculados es de 630.0